body {
  background-color: khaki;
  /*padding: 0px 150px 0 150px;
  margin:20px 20px 0px 20px;*/
}
ul.topnav {
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-bottom: 1px solid black;
}

ul.topnav li a {
  float: right;
  display: block;
  text-align: center;
  /*vertical-align: middle;*/
  padding: 5px 5px;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

ul.topnav li.name {
  float: left;
  display: block;
  text-align: center;
  padding: 5px 5px;
  font-size: 24px;
  font-family: Garamond;
}

@media screen and (max-width: 600px) {
  ul.topnav li.left, 
  ul.topnav li {float: none;}
}
@media screen and (min-width: 600px) {
  body {
    padding: 0px 150px 0 150px;
    margin:20px 20px 0px 20px;}
}
h2{
  font-family: 'Garamond', sans-serif;
  font-size: 24px;
}
.list,
p {
  font-size: 12px;
  font-family: monospace;
  text-align: justify;
}
footer{
  border-top: 1px solid black;
}
#contact{
  text-align: center;
  margin-top: 10px;
  padding: 0;
}